extend @src/layouts/common/index.pug
include @src/molecules/button-link-list/button-link-list.pug

block head
    link(rel='stylesheet', href=require('./index.scss'))

block body
    div.page
        p.title="以下から選択してください"
        div.link-list-wrapper
            +button-link-list("sample-link-list", ".LinkList")(buttonSize="large")

block script
    //- script(src=require('./index.ts'))