//-
    args:
        field: string goから渡されてくる構造体のfield名。".${fieldName}"の形式。
            想定する構造は以下
                {
                    Content: string
                }

mixin sample(field)
    p(class="sample")="{{ " + field + ".Content }}"