include @src/atoms/button-link/button-link.pug

//-
    args: 
        ref: string コンポーネントを参照するkey。画面内で一意である必要がある。
        field: string goから渡される構造体のフィールド名。構造体の形は以下。
            {
                URL: string
                ID: string
            }[]
    attributes:
        buttonSize: large|medium|small ボタンのサイズを指定する

mixin button-link-list(ref, field)
    - const { buttonSize = "medium" } = attributes

    ul.button-link-list(data-ref=`${ref}`)
        =`{{ range $i, $v := ${field} }}`
        li
            div(class=`button-link-list__button-wrapper--${buttonSize}`)
                +button-link(`${ref}__button-{{ $i }}`, "$v")
        ="{{ end }}"